<h1>This is yet another Awesome Elixir list</h1>

<div class="star-links">
  <span class="star-link"><%= link "All", to: Routes.page_path(@conn, :index) %></span>
  <span class="star-link"><%= link ">= 10⭐", to: Routes.page_path(@conn, :index, %{stars: 10}) %></span>
  <span class="star-link"><%= link ">= 50⭐", to: Routes.page_path(@conn, :index, %{stars: 50}) %></span>
</div>

<h2>Categories</h2>
<ul>
  <%= for category <- records_categories(@records) do %>
    <li><%= link category, to: "##{Recase.to_kebab(category)}" %></li>
  <% end %>
</ul>

<ul>
  <%= for {category, records} <- grouped_records(@records) do %>
    <h2 id="<%= Recase.to_kebab(category) %>"><%= category %></h2>
    <table style="width: 100%;">
      <colgroup>
       <col style="width: 15%;">
       <col style="width: 60%;">
       <col style="width: 15%;">
       <col style="width: 15%;">
      </colgroup>
      <thead>
        <tr></tr>
        <tr></tr>
        <tr></tr>
        <tr></tr>
      </thead>
      <tbody>
        <%= for record <- records do %>
          <tr>
            <td>
              <%= link record.repo, to: "https://#{record.platform}.com/#{record.owner}/#{record.repo}", target: "_blank" %>
            </td>
            <td><%= record.description %></td>
            <td>
              <%= record.stars_count %>⭐
            </td>
            <td>
              <%= record.days_since_last_commit %>🗓
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <% end %>
</ul>
